<a href="https://colab.research.google.com/github/pemba007/final-exam/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [401]:
# # Installing required libraries
# !pip install fuzzy-c-means
# !pip install hmmlearn

In [402]:
# Importing libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [403]:
# Ignoring warnings
import warnings
warnings.filterwarnings("ignore")

In [404]:
# Reading all the datasets
df_3 = pd.read_csv('QCM3.csv')
df_6 = pd.read_csv('QCM6.csv')
df_7 = pd.read_csv('QCM7.csv')
df_10 = pd.read_csv('QCM10.csv')
df_12 = pd.read_csv('QCM12.csv')

In [405]:
# Libraries for preprocessing
from sklearn.preprocessing import Normalizer

# Library for model selection
from sklearn.model_selection import train_test_split

# Library for MLP, SVM, hmmlearn, K means and FCMeans
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from hmmlearn import hmm
from sklearn.cluster import KMeans
from fcmeans import FCM

# Library for metrics
from sklearn.metrics import accuracy_score, multilabel_confusion_matrix

# Using QCM3 sensor data for classification

In [406]:
# Separating features and target variable
y = df_3['Class']
X = df_3.drop(columns = ['Class'])

## Preprocessing

In [407]:
X = Normalizer().fit_transform(X)

In [408]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)

## Implementing MLP

In [409]:
clf = MLPClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for MLP

In [410]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

## Implementing SVC

In [411]:
clf = SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for SVC

In [412]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# hmm remain

# Implementing clustering algorithms

In [413]:
y = y.to_numpy()

# Implementing K means

In [414]:
kmeans = KMeans(n_clusters = 5, random_state=0).fit(X)
y_pred = kmeans.predict(X)

In [415]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for KMeans

In [416]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# Implementing FCMeans

In [417]:
from fcmeans import FCM
fcm = FCM(n_clusters = 5)
fcm.fit(X)
y_pred = fcm.predict(X)

In [418]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for FCMeans

In [419]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# Using QCM6 sensor data for classification

In [420]:
# Separating features and target variable
y = df_6['Class']
X = df_6.drop(columns = ['Class'])

## Preprocessing

In [421]:
X = Normalizer().fit_transform(X)

In [422]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)

## Implementing MLP

In [423]:
clf = MLPClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for MLP

In [424]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))
for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0
5      1                  1.0          1.0       1.0
6      2                  1.0          1.0       1.0
7      3                  1.0          1.0       1.0
8      4                  1.0          1.0       1.0
9      5                  1.0          1.0       1.0

## Implementing SVC

In [425]:
clf = SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for SVC

In [426]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# hmm remain

# Implementing clustering algorithms

In [427]:
y = y.to_numpy()

# Implementing K means

In [428]:
kmeans = KMeans(n_clusters = 5, random_state=0).fit(X)
y_pred = kmeans.predict(X)

In [429]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for KMeans

In [430]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# Implementing FCMeans

In [431]:
from fcmeans import FCM
fcm = FCM(n_clusters = 5)
fcm.fit(X)
y_pred = fcm.predict(X)

In [432]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for FCMeans

In [433]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 0.6

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  0.4         1.00  0.571429
1      2                  0.0         0.85  0.000000
2      3                  0.6         0.75  0.461538
3      4                  1.0         0.90  0.833333
4      5                  1.0         1.00  1.000000

# Using QCM7 sensor data for classification

In [434]:
# Separating features and target variable
y = df_7['Class']
X = df_7.drop(columns = ['Class'])

## Preprocessing

In [435]:
X = Normalizer().fit_transform(X)

In [436]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)

## Implementing MLP

In [437]:
clf = MLPClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for MLP

In [438]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 0.6

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0         0.75  0.666667
1      2                  0.0         1.00  0.000000
2      3                  1.0         1.00  1.000000
3      4                  1.0         0.75  0.666667
4      5                  0.0         1.00  0.000000

## Implementing SVC

In [439]:
clf = SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for SVC

In [440]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# hmm remain

# Implementing clustering algorithms

In [441]:
y = y.to_numpy()

# Implementing K means

In [442]:
kmeans = KMeans(n_clusters = 5, random_state=0).fit(X)
y_pred = kmeans.predict(X)

In [443]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for KMeans

In [444]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# Implementing FCMeans

In [445]:
from fcmeans import FCM
fcm = FCM(n_clusters = 5)
fcm.fit(X)
y_pred = fcm.predict(X)

In [446]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for FCMeans

In [447]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# Using QCM10 sensor data for classification

In [448]:
# Separating features and target variable
y = df_10['Class']
X = df_10.drop(columns = ['Class'])

## Preprocessing

In [449]:
X = Normalizer().fit_transform(X)

In [450]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)

## Implementing MLP

In [451]:
clf = MLPClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for MLP

In [452]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 0.6

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0         0.75  0.666667
1      2                  0.0         1.00  0.000000
2      3                  1.0         1.00  1.000000
3      4                  1.0         0.75  0.666667
4      5                  0.0         1.00  0.000000

## Implementing SVC

In [453]:
clf = SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for SVC

In [454]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# hmm remain

# Implementing clustering algorithms

In [455]:
y = y.to_numpy()

# Implementing K means

In [456]:
kmeans = KMeans(n_clusters = 5, random_state=0).fit(X)
y_pred = kmeans.predict(X)

In [457]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for KMeans

In [458]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# Implementing FCMeans

In [459]:
from fcmeans import FCM
fcm = FCM(n_clusters = 5)
fcm.fit(X)
y_pred = fcm.predict(X)

In [460]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for FCMeans

In [461]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 1.0

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  1.0          1.0       1.0
1      2                  1.0          1.0       1.0
2      3                  1.0          1.0       1.0
3      4                  1.0          1.0       1.0
4      5                  1.0          1.0       1.0

# Using QCM12 sensor data for classification

In [462]:
# Separating features and target variable
y = df_12['Class']
X = df_12.drop(columns = ['Class'])

## Preprocessing

In [463]:
X = Normalizer().fit_transform(X)

In [464]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)

## Implementing MLP

In [465]:
clf = MLPClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for MLP

In [466]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 0.6

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  0.0          1.0       0.0
1      2                  1.0          1.0       1.0
2      3                  0.0          1.0       0.0
3      4                  1.0          1.0       1.0
4      5                  1.0          0.5       0.5

## Implementing SVC

In [467]:
clf = SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

### Metrics for SVC

In [468]:
cm = multilabel_confusion_matrix(y_test, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y_test, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 0.8

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  0.0         1.00  0.000000
1      2                  1.0         1.00  1.000000
2      3                  1.0         0.75  0.666667
3      4                  1.0         1.00  1.000000
4      5                  1.0         1.00  1.000000

# hmm remain

# Implementing clustering algorithms

In [469]:
y = y.to_numpy()

# Implementing K means

In [470]:
kmeans = KMeans(n_clusters = 5, random_state=0).fit(X)
y_pred = kmeans.predict(X)

In [471]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for KMeans

In [472]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 0.88

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  0.4         1.00  0.571429
1      2                  1.0         1.00  1.000000
2      3                  1.0         0.85  0.769231
3      4                  1.0         1.00  1.000000
4      5                  1.0         1.00  1.000000

# Implementing FCMeans

In [473]:
from fcmeans import FCM
fcm = FCM(n_clusters = 5)
fcm.fit(X)
y_pred = fcm.predict(X)

In [474]:
df = pd.DataFrame(y_pred, columns=['Class'])
y_pred = df.replace({y_pred[0]: y[0], y_pred[6]: y[6], y_pred[11]: y[11], y_pred[16]: y[16],y_pred[21]: y[21]}).to_numpy()

### Metrics for FCMeans

In [475]:
cm = multilabel_confusion_matrix(y, y_pred, labels= range(5))

res = []

for l in range(5):
    x = cm[l]
    tn, fp = x[0]
    fn, tp = x[1]
    sensitivity = tp / (tp + fn)
    specificity = tn / (tn + fp)
    precision = tp / (tp + fp)
    f1 = (2 * precision * sensitivity) / (precision + sensitivity)
    res.append([l+1,sensitivity, specificity, f1])

performance = pd.DataFrame(res, columns = ['Class','Sensitivity(Recall)','Specificity', 'F1 score'])

performance['F1 score'] = performance['F1 score'].fillna(0)
performance['Sensitivity(Recall)'] = performance['Sensitivity(Recall)'].fillna(0)
performance['Specificity'] = performance['Specificity'].fillna(0)

total_accuracy = accuracy_score(y, y_pred)
print("The total accuracy is", total_accuracy)
performance

The total accuracy is 0.88

   Class  Sensitivity(Recall)  Specificity  F1 score
0      1                  0.4         1.00  0.571429
1      2                  1.0         1.00  1.000000
2      3                  1.0         0.85  0.769231
3      4                  1.0         1.00  1.000000
4      5                  1.0         1.00  1.000000